.inherit {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.Option {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Requirement {
    margin-bottom: 0.5rem;
}

.VarDef {
    margin-bottom: 0.5rem;
}

.VarMod {
    margin-bottom: 0.5rem;
}

.AddButton {
    margin-bottom: 0.5rem;
}

.collapsehead {
    margin-bottom: 0.5rem;
}
